*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text";
}

a{
    text-decoration: none;
}

body{
    color: white;
    /* background-color: black; */
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.589); 
    /* border-radius: 15px; */
    cursor: pointer;
    transition: 0.2s;
}
  

body::-webkit-scrollbar-thumb:hover {
    background: #ffffffc7; 
}

button {
    border-radius: 30px !important;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px #00000050;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#preloader img {
    width: 150px; 
    height: auto;
}

.preloader-hidden {
    opacity: 0;
    visibility: hidden;
}

#firstSec{
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2% 9%;
}

.navBar{
    border-bottom:  1px solid grey;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0% 9%;
    background: transparent;
    transition: 0.5s;
    z-index: 100;
    border-color: grey !important;
    background-color: white !important;
    box-shadow: 0 0 10px #00000029;
}

.navBar nav{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.navSec1{
    width: 50%;
    display: flex;
    align-items: center;
}

.navSec1 img{
    width: 9%;
    backdrop-filter: blur(6px);
    border-radius: 50px;
}

.navBarLogoScrolled{
    backdrop-filter: none !important;
    box-shadow: none !important;
    filter: invert(100%);
    transition: filter 0.5s;
}

.navSec2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navSec2 button{
    outline: none;
    padding: 1%;
    margin-left: 4%;
    background-color: #ffffff0d;
    color: white;
    width: 13%;
    height: 45%;
    font-size: 1rem;
    border: 1px solid white;
    transition: 0.5s;
    cursor: pointer;
}

.navSec2 button:hover{
    background-color: white;
    color: black;
}

.navBarButtonScrolled{
    border-color: black !important;
    box-shadow: none !important;
    color: rgb(0, 0, 0) !important;
}

.navBarButtonScrolled:hover{
    background-color: black !important;
    color: white !important;
}

#backToTopBtn2{
    width: 55px;
    height: 55px;
    position: relative;
    left: 9%;
    bottom: -45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50px;
    border: 2px dashed rgb(0, 0, 0);
    cursor: pointer;
}

#backToTopBtn2 img{
    width: 28px;
    height: 30px;
    filter: invert(1);
}

#sixthSec{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 9%;
    border-top: 2px solid white;
    background-color: white;
    border-top: 1px solid black;
    /* background-image: url(/static/images/background/1.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: top; */
}

.sixthSecLogo{
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.sixthSecLogo img{
    width: 250px;
    height: 250px;
}

.sixthSecLinks, .sixthSecLinks1, .sixthSecLinks2{
    height: 62%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.sixthSecLinks{
    width: 20%;
}

.sixthSecLinks1{
    width: 25%;
}

.sixthSecLinks2{
    width: 35%;
}

.sixthSecLinks a, .sixthSecLinks1 a, .sixthSecLinks2 a{
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

.sixthSecLinks a:hover, .sixthSecLinks1 a:hover, .sixthSecLinks2 a:hover{
    color: #003b09;
}

.sixthSecLinks1 span{
    width: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixthSecLinks2 span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sixthSecLinks2 span:nth-child(1){
    width: 41%;
}

.sixthSecLinks2 span:nth-child(2){
    width: 44%;
}

.sixthSecLinks2 span:nth-child(3){
    width: 73%;
}

.sixthSecLinks2 span:nth-child(4){
    width: 65%;
}

.sixthSecLinks1 span img{
    width: 28px;
    height: 28px;
    filter: invert(1);
}

.sixthSecLinks2 span img{
    width: 28px;
    height: 28px;
    filter: invert(1);
}

#serviceSec{
    width: 100%;
    height: auto;
    color: black;
    margin-top: 10vh;
}

.serv{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    padding: 5% 0;
    background-color: white;
    position: relative;
}

.firstServ{
    margin-top: 10vh;
}

.servHeadliner{
    display: flex;
    width: 100%;
    height: 80%;
}

.servInfo{
    width: 50%;
    display: flex;
    padding: 7%;
    flex-direction: column;
    justify-content: center;
}

.servInfo span{
    font-size: 1.2rem;
    color: #3e3e3e;
}

.servInfo h1{
    font-size: 4rem;
    margin: 2% 0;
}

.servInfo p{
    font-size: 1.1rem;
    font-weight: 100;
    color: #3e3e3e;
}

.servImage{
    width: 50%;
    height: 100%;
}

.servImage img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}

.bottomInfo{
    width: 100%;
    height: 30%;
    padding: 2% 7%;
    display: flex;
}

.bIleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.bIleft p{
    font-size: 2.4rem;
}

.bIright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20%;
}

.bIright p{
    font-size: 1.2rem;
    color: #3e3e3e;
    font-weight: 100;
}

.bIright span{
    font-size: 1rem;
    color: #003b09;
}

.midServImage{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.shapes{
    width: 10%;
    position: absolute;
}

.s1{
    top: 0;
    left: 0;
    width: 14%;
}

.s2{
    top: -0.5%;
    right: 0;
    width: 14%;
}

.s3{
    top: -0.5%;
    left: 0;
    width: 14%;
    transform: scaleX(-1);
}

.s4{
    top: -0.5%;
    right: 0;
    width: 14%;
}

.s5{
    top: -0.5%;
    left: 0;
    width: 16%;
    transform: scaleX(-1);
}

